[submodule "public_html"]
	path = public_html
	url = https://git.drupalcode.org/project/drupal.git
	branch = 7.x
[submodule "public_html/sites/all/modules/devel"]
	path = public_html/sites/all/modules/devel
	url = https://git.drupalcode.org/project/devel.git
	branch = 7.x-1.x
[submodule "public_html/sites/all/modules/module_filter"]
	path = public_html/sites/all/modules/module_filter
	url = https://git.drupalcode.org/project/module_filter.git
	branch = 7.x-2.x
[submodule "public_html/sites/all/modules/ctools"]
	path = public_html/sites/all/modules/ctools
	url = https://git.drupalcode.org/project/ctools.git
	branch = 7.x-1.x
[submodule "public_htmlsitesallfeatures"]
	path = public_html/sites/all/features
	url = https://git.drupalcode.org/project/features.git
	branch = 7.x-2.x
[submodule "public_html/sites/all/modules/entity"]
	path = public_html/sites/all/modules/entity
	url = https://git.drupalcode.org/project/entity.git
	branch = 7.x-1.x
[submodule "public_html/sites/all/modules/token"]
	path = public_html/sites/all/modules/token
	url = https://git.drupalcode.org/project/token.git
	branch = 7.x-1.x
[submodule "public_html/sites/all/modules/libraries"]
	path = public_html/sites/all/modules/libraries
	url = https://git.drupalcode.org/project/libraries.git
	branch = 7.x-2.x
[submodule "public_html/sites/all/modules/jquery_colorpicker"]
	path = public_html/sites/all/modules/jquery_colorpicker
	url = https://git.drupalcode.org/project/jquery_colorpicker.git
	branch = 7.x-1.x
[submodule "public_html/sites/all/modules/clear_cache"]
	path = public_html/sites/all/modules/clear_cache
	url = https://git.drupalcode.org/project/clear_cache.git
	branch = 7.x-2.x
[submodule "public_html/sites/all/modules/profile2"]
	path = public_html/sites/all/module/sprofile2
	url = https://git.drupalcode.org/project/profile2.git
	branch = 7.x-1.x
