html, input {
	font-family: 'Exo', Tahoma, Verdana, serif;
	font-size: 9.5pt;
}
a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
	font-weight: normal; 
}
h3 { font-size: 1.75em; }


input[type="button"],input[type="submit"] {
	background: #2885af;
	font-weight: bold;
}