.half-pane {
	display: inline-block;
	width: 47%;
	padding: 1em;
	vertical-align: top;
	position:relative;
}
.half-pane .form-wrapper {
	display: block;
}
.half-pane .form-wrapper div,
.half-pane .form-wrapper span,
.half-pane .form-wrapper input {
	max-width: 80% !important;
}

.color-pane.form-wrapper {
	display: inline-block;
	position:relative;
	height: 90px;
}

.color-pane.form-wrapper .fieldset-wrapper {
	margin: 0;
	padding: 0 15px;
}
.color-pane.form-wrapper input.form-text  {
	width: 7em;
	font-size: 0.75em;
}
.color-pane.form-wrapper .form-type-textfield {
	padding: 0;
}
.color-pane-new .form-type-jquery-colorpicker,
.color-pane-new .form-submit {
	display: inline-block;
	margin-right: 5px;
	float: left;
}

#edit-shades {
	
}
#edit-shades .fieldset-wrapper {
	height: 100%;
	position: relative;
}
#edit-shades .controls-group {
	display: block;
	position: relative;
	text-align: center;
}
.controls-group div {
	display: inline-block;
	width: 45%;
}
.controls-group .form-item {
	display: inline-block;
	position: relative;
	float: none;
}
.controls-group .form-type-textfield input {
	max-width: 12em;
}
.color-family {
	padding-left:3em;
}
.color-family .shade-label {
	position: absolute;
	color: gray;
	font-style: italic;
	top: -1.5em;
	width: 100%;
	text-align: center;
	left: 0;
}


.color-pane-new .form-submit {
	margin-top: 1em;
}
.color-save-btn {
	margin: 0;
	position: absolute;
	right: 0;
	top: 10px;
}


.swatch {
	display: block;
	float: left;
	width:30px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#edit-shades .swatch {
	margin-left:2em;
	display: inline-block;
	position: static;
}

.blurb {
	margin: 2em;
}
