.header {
	position: relative;
}
.header-actions {
	position: absolute;
	right: 0;
}
.header-actions a {
	margin: 0 2em;
}
.header h3 {
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}
.header .mark-inactive {
	font-style: italic;
	color: silver;
}

.view-line label {
	display: inline-block;
}