#sj-core-pages-personas-form .form-type-textfield input {	
	max-width: 10em;
}

.section-groups,
.section-groups  .fieldset-wrapper {
	border: 0;
	margin: 0;
	padding: 0;
}

hr {
	margin: 1em 0;
}

.persona-group-list {
	margin-top: 2em;
}
.persona-group-list fieldset,
.persona-group-list fieldset .fieldset-wrapper {
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
}
.persona-group-list label,
.persona-group-list .form-item,
.persona-group-list .form-type-links {
	display: inline-block;
}
.persona-group-list label,
.persona-group-list .form-type-links {
	width: 10em;
}
.persona-group-list .form-type-links {
	margin-left: 2em;
}
.persona-group-list .form-submit {
	margin-top:2em;
}
.persona-group-list .form-item {
	margin: 0 2em;
}


fieldset.persona-group {
	display: block;
	vertical-align: top;
	margin: 0.25em;
	margin-bottom: 2em;
	position: relative;
}
fieldset.persona-group .fieldset-wrapper {
	margin: 0.5em 0;
	padding: 0.5em;
	padding-top: 1.2em;
}
fieldset.persona-group .persona-line {
	padding: 0;
	border: 0;
	margin: 0.25em 0;
	display: block;
	position: relative;
}
fieldset.persona-group .persona-line .persona-name {
	line-height: 1.2em;
}


fieldset.persona-group a img {
	max-height: 1.2em;
	filter: opacity(50%);
}
fieldset.persona-group a:hover img {
	filter: opacity(75%);
}
fieldset.persona-group img + label {
	display: none;
}
fieldset.persona-group .persona-name {
	margin: 0;
	margin-right: 2em;
}
fieldset.persona-group .persona-active,
fieldset.persona-group .persona-crown {
	border-radius: 0.8em;
	width: 1.5em;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	
}
fieldset.persona-group .persona-active {
	color: #595;
	margin-right: 0.5em;
	margin-left: -0.2em;
}
fieldset.persona-group .persona-crown {
	margin-left: 1.25em;
	color: #d89f00;
	font-size:1.2em;
}
fieldset.persona-group .persona-active:hover,
fieldset.persona-group .persona-crown:hover {
	text-decoration: none;
}
fieldset.persona-group .persona-active:hover {
	color: #0a0;
	background: #ded;
}
fieldset.persona-group .persona-crown:hover {
	color: #a00;
	background: #efddad;
}

fieldset.persona-group .link-left {
	position: absolute;
	left: 0.2em;
	z-index: 10;
}
fieldset.persona-group .link-right {
	position: absolute;
	right: 0.2em;
	z-index: 10;
}

fieldset.persona-group .persona-line {
	height: 1.75em;
}
fieldset.persona-group fieldset.persona-line {
	height: 2.75em;
}
fieldset.persona-group fieldset.persona-line .fieldset-wrapper {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}
fieldset.persona-group fieldset.persona-line .fieldset-wrapper .form-item {
	margin-bottom: 0;
}







